/* VARIABLES */
:root {
    --color-pale-blue: hsl(225, 100%, 94%);
    --color-bright-blue: hsl(245, 75%, 52%);
    --color-very-pale-blue: hsl(225, 100%, 98%);
    --color-desaturated-blue: hsl(224, 23%, 55%);
    --color-dark-blue: hsl(223, 47%, 23%);
}

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY LAYOUT AND STYLES */
body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--color-pale-blue);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GENERAL CARD STYLES */
.card-container {
    width: 450px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px hsl(224, 23%, 75%);
}

main {
    padding: 0 2.5rem;
}

/* SPECIFIC CARD CONTENT STYLES */
header img {
    width: 100%;
    margin-bottom: 1.75rem;
}

h1,
h2 {
    color: var(--color-dark-blue);
}

h1 {
    font-size: 1.85rem;
    font-weight: 900;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 1rem;
    color: var(--color-desaturated-blue);
    margin-bottom: 1rem;
}
.order-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-very-pale-blue);
    border-radius: 10px;
    padding: 1.25rem;
    margin-bottom: 2rem;
}

.order-plan a,
.order-plan a:visited {
    color: var(--color-bright-blue);
}

.order-plan-annual {
    flex: 1;
    text-align: left;
    padding-left: 1.6rem;
}

.order-plan-annual h2 {
    font-size: 1rem;
    padding-bottom: 0.35rem;
}

.order-plan-annual span {
    color: var(--color-desaturated-blue);
}

.btn {
    display: block;
    width: 100%;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-proceed {
    background-color: var(--color-bright-blue);
    color: #fff;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px hsl(224, 23%, 75%);
}

.btn-cancel {
    margin-bottom: 2.5rem;
    color: var(--color-desaturated-blue);
    font-weight: 700;
}

/* HOVER EFFECTS */
.btn-proceed:hover {
    background-color: hsl(245, 75%, 70%);
}

.btn-cancel:hover {
    color: var(--color-dark-blue);
}

/* MOBILE VIEW */
@media screen and (max-width: 400px) {
    html {
        font-size: 80%;
    }
}
